# Dependencias
node_modules

# Archivos de build y producción
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env.*
!.env.example

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/